/* div {
  background-color: blue;
  display: grid;
  place-items: center;
} */

button {
  margin-top: 15px;
}

textarea {
  padding: 30px;
}

* {
  text-align: center;
  margin: 5px;
  color: rgb(232, 89, 89);
  background-color: rgb(255, 255, 255);
}
